.inputfieldpadding{
  padding : 5px;
  text-align : left;
}

.text-left{
  padding : 5px;
  font-weight : 10px;
  font-size: 14px;
}

.thstyle{
  /*  width: 125px; */
}


.br{
  border-radius : 0px;
}

.right{
  float : 'right' ;
}

.textcolor{
  color: blue;
}


