:root {
  --grey: #6b6b6b;
  --light-grey: #949494;
  --white: #ffffff;
}


.inputfieldpadding{
  padding : 5px;
  text-align : left;
}

.text-left{
  padding : 5px;
  font-weight : 10px;
  font-size: 14px;
}


.btn-primary{
  box-shadow: 2px 2px 5px rgba(127, 127, 127, 0.297);
}
.btn-success{
  border-radius: .5em;
  box-shadow: 2px 2px 5px rgba(127, 127, 127, 0.297);
}

.sort-btn{
  color: gray;
  margin-left: .3em;
}


.search-opt-btn{
  border-radius: 0em .5em .5em 0em;
}

.right{
  float : right;
}


.br{
  border-radius: .5em;
}
.reservation_table{
  /* background-color: rgb(255, 255, 255); */
  /* border-radius:.5em; */
  padding: .5em;
  /* padding-top: 1em !important; */
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  /* box-shadow: 3px 3px 10px rgba(129, 141, 163, 0.134); */
  /* border: .5px solid rgb(235, 235, 235); */

}

.search-area-bg{
  background-color: rgb(255, 255, 255);
  border-radius:.5em;
  box-shadow: 5px 5px 20px rgba(124, 130, 138, 0.053);
  padding: .5em;
}

.table-bordered>:not(caption)>* {
  border-width: .5px 0 !important;
}
.table-bordered>:not(caption)>*>* {
  border-width: 0 .5px !important;
}



@media only screen and (max-width: 600px) {
.hide-element{
  display: none;
}
}

.grey-border{
  border-color: #bdbdbd !important;
}

.btn-dropdown{
  background-color: #e0e0e0;
  color: gray;
  border: 1px solid rgb(204, 204, 204);
}

.btn-dropdown:hover{
  background-color: #cccccc !important;

}
.btn-outline-secondary{
  border-color: #d3d3d3;
}

th{
  font-weight: 500;
}
tbody>tr> :nth-child(10) {
  color: rgb(216, 2, 2);
}

.update-btn{
height: 30px;
margin-top: .5em;
background-color: rgb(31, 31, 31) !important;
}