.inputfieldpadding{
  padding : 5px;
  text-align : left;
}

.text-left{
  padding : 5px;
  font-weight : 10px;
  font-size: 14px;
}

.thstyle{
  /*  width: 125px; */
}


.br{
  border-radius : 0px;
}

.right{
  float : 'right' ;
}

.textcolor{
  color: blue;
}

.parentdpdown{
  position : relative;
}

.dpdown{
  position : absolute;
  height: 160px;
  width: 300px;
  border-radius : 5px;
  top : 60px;
  right: 25px;
  z-index: 100;
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

