:root{
    --occupied : pink;
    --reserved : #81D4FA;
    --vaccant : darkblue;
    --clean : #AB47BC;
    --dirty : goldenrod;
}

.tdwidthguest{
    width : 320px;
}

.tdwidth{
    width : 630px;
}

.button{
    height: 60px;
    width: 70px;
    padding : 5px;
}


.height{
    padding : 10px;
    padding-top: 35px;
    padding-bottom: 18px;
    padding-left: 0px;
    text-align: left;
    border-bottom : 1px solid lightgray;
}

.nvlink{
    height:  150px;
    padding : 22px;
    text-decoration: none;
    background-color: rgb(218, 213, 213);
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin : 1px;
    opacity : 0.6;
}

.nvlink:hover{
    color : black;
}

.active{
    background-color: red;
    color: white;
}

.active:hover{
    color: white;
}

.shade{
    background-color:  rgb(241, 238, 238); 
    height : 80px;
    width : 1200px;
    margin: auto;
}

.square{
    height: 15px;
    width: 15px;
    float : right !important;
    margin-top : 4px;
    margin-left: 20px;
}

.occupied{
    background-color : var(--occupied);
}

.reserved{
    background-color : var(--reserved);
}

.vaccant{
    background-color : var(--vaccant);
}

.clean{
    background-color : var(--clean);
}

.dirty{
    background-color : var(--dirty);
}

.left{
    text-align : left;
}

.room{
    width : 100px;
    border : 5px solid var(--occupied);
    border-bottom-right-radius : 15px;
    border-bottom-left-radius : 15px;
    margin : 10px;
}

.rmtype{
    border-bottom : 5px solid var(--occupied);
    height : 60px;
    padding : 5px;
}

.rmback{
    height: 30px;
    background-color : var(--occupied);
}

.stat{
    background-color: rgb(99, 236, 99);
    color: white;
    padding: 6px;
    border-radius : 5px; 
}

.ulistmargin{
    list-style-type: none;
    margin : 0px !important;
    padding: 0px;
    height : 400px;
    overflow : auto;
}

.listItem{
    padding : 10px;
    display : inline-block;
}

.rmnum{
    height: 50px;
    font-weight: bolder;
    font-size : 30px;

}