.box{
    padding : 10px;
    border : 2px solid grey;
    margin-top : 20px;
    width : 60vw;
    height : 20vw;
}

.roomcol{
    padding : 5px;
}

.thick{
    border-left : 2px solid black;
    height: 100%;
    padding : 30px;
    padding-top : 0px;
}

.tdwidth{
    width : 180px;
    text-align: left;
}

.roomno{
    padding : 30px;
}


.bordered-bg{
    background-color: rgb(255, 255, 255);
    padding: .5em;
    border-radius: .5em;
    box-shadow: 3px 3px 10px rgba(158, 158, 158, 0.219);
    border: .5px solid rgb(239, 239, 239);
}
