.avail-date-head{
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 400;
    background-color: rgb(60, 60, 60);
    border-radius: .3em;
    padding: 0 .5em;
}

.avail-date{
    color: rgb(63, 63, 63);
    font-size: medium;
    font-weight: 400;
}

.head-bg{
    background-color: #f7f7f7;
    border-radius: 1em !important;
  }

  .avail-table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .avail-table th:first-child{
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #ffffff;
  }

  .avail-tbody td:first-child{
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #ffffff;
  }

  .min-width-popover-input{
    min-width: 120px !important;
  }
  .ant-picker-input.ant-picker-input-active {
    height: 28px;
}
.ant-picker.ant-picker-range {
    box-shadow: 2px 2px 5px rgba(172, 177, 202, 0.295);
    border: solid 1px rgb(189, 189, 189);
}

.ant-picker.ant-picker-range:hover {
  border: solid 1px rgb(171, 176, 253);

}

.pop-over-input-btn-roomavail{
  box-shadow: 2px 2px 5px rgba(172, 177, 202, 0.295);
  border: solid 1px rgb(189, 189, 189);
}

.pop-over-input-btn-roomavail:hover{
  border: solid 1px rgb(171, 176, 253) !important;
}

.grey-line{
  color: rgb(216, 216, 216);
}

.font-size-xs{
font-size: x-small;
}

.popover__head{
  background-color:  #e2e4f8;
}

.input-font-size-popover{
  font-size: larger;
}

.room-avail-td-btn:hover{
background-color: #a5c4ff !important;
}