
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');           
            
body{
    font-family: 'Poppins', sans-serif;
}
.section{
   background-size: 100% 100%;
   padding : 15px;
   background-color : rgb(245, 247, 250) ;
}

.gray{
    color: gray;
}
.container-fluid{
    border-radius:  3px;
    background-color: white ;
    padding : 1em !important;
}

.header {
    /* padding : 10px; */
    /* font-size: 22px; */
    color : rgb(97, 97, 97);
    text-align : left;
    opacity : 1;
    /* padding-left: 15px ; */
    font-weight: 500;
}

.parentdpdown{
    position : relative;
    height: 0px;
  }
  
.dpdown{
    background-color: white;
    border-radius : 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* .ddw{
    height : 170px;
    width: 100%;
    z-index : 100;
    position : 'absolute';
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: 5s ease-in;
} */

.left{
    text-align: left;
}


.btn-primary{
    background-color: #5b67d6 !important;
    border: none !important;
  }