.section{
   background-size: 100% 100%;
   padding : 15px;
   background-color : rgb(245, 247, 250) ;
}


.container-fluid{
    border-radius:  3px;
    background-color: white ;
    padding : 0px !important;
}

.header {
    background-color: white ;
    padding : 10px;
    font-size: 22px;
    font-weight: bold;
    color : rgb(78, 60, 92);
    border-bottom : 1px solid lightgray;
    text-align : left;
    opacity : 1;
    padding-left: 15px ;
    margin-bottom: 0px;
}

.parentdpdown{
    position : relative;
  }
  
.dpdown{
    position : absolute;
    height: 260px;
    width: 100%;
    background-color: white;
    border-radius : 5px;
    top : 0px;
    left: 0px;
    z-index: 100;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


